.back {
  cursor: pointer;
  width: 30px;
  height: 30px;
  margin-left: 30px;
}

.loader {
  position: absolute;
  top: calc(100vh - 70%);
  left: calc(90vw - 50%);
}

.page {
  display: flex;
  justify-content: space-between;
  align-items: center;
  &_info {
    width: 30%;
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
    margin: 0;
    &_common {
      display: flex;
      align-items: center;
      gap: 5px;
      &_rank {
        font-size: 20px;
        font-weight: 600;
      }
      &_logo {
        width: 24px;
        height: 24px;
      }
      &_name {
        font-size: 20px;
        font-weight: 600;
      }
      &_symbol {
        color: #616e85;
        font-size: 14px;
        font-weight: 400;
        margin-top: 3px;
      }
    }
    &_price {
      margin: 0;
      font-size: 40px;
      font-weight: 700;
    }
    &_add {
      width: 80%;
      border: none;
      background-color: rgb(217, 217, 217);
      font-weight: 700;
      color: #616e85;
      border-radius: 15px;
      height: 30px;
      cursor: pointer;
      transition: 0.3s;
      &:hover {
        background-color: rgb(186, 186, 186);
      }
    }
    &_other {
      width: 80%;
      display: flex;
      flex-direction: column;
      gap: 10px;
      padding: 0;
      margin: 0;
      list-style: none;
      &_element {
        display: flex;
        justify-content: space-between;
        span {
          color: #616e85;
        }
      }
    }
    @media (max-width: 500px) {
      &_other {
        width: 100%;
      }
    }
    @media (max-width: 1025px) {
      &_common {
        &_rank {
          font-size: 16px;
        }
        &_logo {
          width: 20px;
          height: 20px;
        }
        &_name {
          font-size: 16px;
        }
        &_symbol {
          font-size: 12px;
        }
      }
      &_price {
        font-size: 30px;
      }
    }
  }
  &_chart {
    width: 70%;
    &_time {
      padding: 3px;
      width: fit-content;
      display: flex;
      gap: 3px;
      border-radius: 6px;
      background-color: rgb(239, 242, 245);
    }
  }
  @media (max-width: 600px) {
    &_chart {
      width: 100%;
    }
  }
}

@media (max-width: 951px) {
  .page {
    flex-direction: column;
    gap: 75px;
    &_info {
      width: 60%;
    }
  }
}
