.table_container {
  overflow-x: auto;
  max-width: 100%;
}

.crypto_table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 16px;
  th,
  td {
    padding: 8px;
    border-bottom: 1px solid #ddd;
    text-align: left;
  }
  th {
    background-color: #f2f2f2;
    span {
      display: flex;
      align-items: center;
      cursor: pointer;
      img {
        margin-left: 3px;
        width: 15px;
        height: 15px;
      }
    }
  }
  @media (max-width: 767px) {
    th,
    td {
      padding: 4px;
    }
  }
}
