.table_container {
  overflow-x: auto;
  width: 95%;
}

.crypto_table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 16px;
  tbody {
    tr {
      transition: 0.3s;
      cursor: pointer;
      &:hover {
        background-color: #ddd;
      }
      a {
        display: block;
        text-decoration: none;
        color: inherit;
        width: 100%;
        height: 100%;
      }
    }
  }
  th,
  td {
    padding: 8px;
    border-bottom: 1px solid #ddd;
    text-align: left;
    img {
      width: 24px;
      height: 24px;
    }
  }
  th {
    background-color: #f2f2f2;
    span {
      display: flex;
      align-items: center;
      cursor: pointer;
      img {
        margin-left: 3px;
        width: 15px;
        height: 15px;
      }
    }
  }
  @media (max-width: 867px) {
    th,
    td {
      padding: 4px;
      font-size: 13px;
    }
  }
}
